.Homepage {
    text-align: center;
    background-color: #153646;
}

.homepageTitle {
    text-align: center;
    margin: 0px;
}
.HomepageTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.searchBar::placeholder {
    color: white;
}

.clock {
    text-align: center;
}
