.Homepage {
    text-align: center;
    background-color: #153646;
}

.homepageHeader {
    background-color: #153646;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.homepageTitle {
    text-align: center;
    margin: 0px;
}

.searchBar::placeholder {
    color: white;
}

.clock {
    text-align: center;
}
